<footer id="footer" class="site-footer">
  <div class="container">
    <div class="block contact">
      <h4 class="divot">contacts</h4>

    </div>

    <div class="logo">
      <div class="divot"></div>
      <div class="logo-stacked">
        <a href="/">
        </a>
      </div>
    </div>
  </div>
</footer>

<script async src="{{ rev('/scripts/manifest.js') }}"></script>
<script async src="{{ rev('/scripts/vendor.js') }}"></script>
<script async src="{{ rev('/scripts/main.js') }}"></script>
